In [126]:
import pandas as pd
import numpy as np

In [127]:
df_train = pd.read_csv('train.csv')
df_test = pd.read_csv('test.csv')

In [128]:
df_train.head()

,S.No,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,1,27/08/14 11:29,37,Female,United States,IL,NaN,No,Yes,Often,...,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN
1,2,27/08/14 11:29,44,M,United States,IN,NaN,No,No,Rarely,...,Don't know,Maybe,No,No,No,No,No,Don't know,No,NaN
2,3,27/08/14 11:29,32,Male,Canada,NaN,NaN,No,No,Rarely,...,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,NaN
3,4,27/08/14 11:29,31,Male,United Kingdom,NaN,NaN,Yes,Yes,Often,...,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,NaN
4,5,27/08/14 11:30,31,Male,United States,TX,NaN,No,No,Never,...,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,NaN

In [129]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 208 entries, 0 to 207
Data columns (total 27 columns):
S.No                         208 non-null int64
Timestamp                    208 non-null object
Age                          208 non-null int64
Gender                       208 non-null object
Country                      208 non-null object
state                        105 non-null object
self_employed                208 non-null object
family_history               208 non-null object
work_interfere               180 non-null object
no_employees                 208 non-null object
remote_work                  208 non-null object
tech_company                 208 non-null object
benefits                     208 non-null object
care_options                 208 non-null object
wellness_program             208 non-null object
seek_help                    208 non-null object
anonymity                    208 non-null object
leave                        208 non-null object
mental_health_consequence    208 non-null object
phys_health_consequence      208 non-null object
coworkers                    208 non-null object
supervisor                   208 non-null object
mental_health_interview      208 non-null object
phys_health_interview        208 non-null object
mental_vs_physical           208 non-null object
obs_consequence              208 non-null object
comments                     31 non-null object
dtypes: int64(2), object(25)
memory usage: 44.0+ KB

In [130]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1042 entries, 0 to 1041
Data columns (total 28 columns):
S.No                         1042 non-null int64
Timestamp                    1042 non-null object
Age                          1042 non-null int64
Gender                       1042 non-null object
Country                      1042 non-null object
state                        632 non-null object
self_employed                1024 non-null object
family_history               1042 non-null object
treatment                    1042 non-null object
work_interfere               808 non-null object
no_employees                 1042 non-null object
remote_work                  1042 non-null object
tech_company                 1042 non-null object
benefits                     1042 non-null object
care_options                 1042 non-null object
wellness_program             1042 non-null object
seek_help                    1042 non-null object
anonymity                    1042 non-null object
leave                        1042 non-null object
mental_health_consequence    1042 non-null object
phys_health_consequence      1042 non-null object
coworkers                    1042 non-null object
supervisor                   1042 non-null object
mental_health_interview      1042 non-null object
phys_health_interview        1042 non-null object
mental_vs_physical           1042 non-null object
obs_consequence              1042 non-null object
comments                     130 non-null object
dtypes: int64(2), object(26)
memory usage: 228.1+ KB

In [131]:
dir(df_train)

['Age',
 'Country',
 'Gender',
 'T',
 'Timestamp',
 '_AXIS_ALIASES',
 '_AXIS_IALIASES',
 '_AXIS_LEN',
 '_AXIS_NAMES',
 '_AXIS_NUMBERS',
 '_AXIS_ORDERS',
 '_AXIS_REVERSED',
 '__abs__',
 '__add__',
 '__and__',
 '__array__',
 '__array_priority__',
 '__array_wrap__',
 '__bool__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__div__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdiv__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_add_numeric_operations',
 '_add_series_only_operations',
 '_add_series_or_dataframe_operations',
 '_agg_by_level',
 '_agg_examples_doc',
 '_agg_summary_and_see_also_doc',
 '_aggregate',
 '_aggregate_multiple_funcs',
 '_align_frame',
 '_align_series',
 '_box_col_values',
 '_box_item_values',
 '_builtin_table',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_percentile',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_combine_const',
 '_combine_frame',
 '_combine_match_columns',
 '_combine_match_index',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_axes_dict_from',
 '_construct_axes_from_arguments',
 '_constructor',
 '_constructor_expanddim',
 '_constructor_sliced',
 '_convert',
 '_count_level',
 '_create_indexer',
 '_cython_table',
 '_data',
 '_deprecations',
 '_dir_additions',
 '_dir_deletions',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_ensure_valid_index',
 '_find_valid_index',
 '_from_arrays',
 '_from_axes',
 '_get_agg_axis',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cacher',
 '_get_index_resolvers',
 '_get_item_cache',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_space_character_free_column_resolvers',
 '_get_value',
 '_get_values',
 '_getitem_bool_array',
 '_getitem_frame',
 '_getitem_multilevel',
 '_gotitem',
 '_iget_item_cache',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_info_repr',
 '_init_mgr',
 '_internal_get_values',
 '_internal_names',
 '_internal_names_set',
 '_is_builtin_func',
 '_is_cached',
 '_is_copy',
 '_is_cython_func',
 '_is_datelike_mixed_type',
 '_is_homogeneous_type',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_numeric_mixed_type',
 '_is_view',
 '_ix',
 '_ixs',
 '_join_compat',
 '_maybe_cache_changed',
 '_maybe_update_cacher',
 '_metadata',
 '_needs_reindex_multi',
 '_obj_with_exclusions',
 '_protect_consolidate',
 '_reduce',
 '_reindex_axes',
 '_reindex_columns',
 '_reindex_index',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_repr_data_resource_',
 '_repr_fits_horizontal_',
 '_repr_fits_vertical_',
 '_repr_html_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_sanitize_column',
 '_selected_obj',
 '_selection',
 '_selection_list',
 '_selection_name',
 '_series',
 '_set_as_cached',
 '_set_axis',
 '_set_axis_name',
 '_set_is_copy',
 '_set_item',
 '_set_value',
 '_setitem_array',
 '_setitem_frame',
 '_setitem_slice',
 '_setup_axes',
 '_shallow_copy',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_to_dict_of_blocks',
 '_try_aggregate_string_function',
 '_typ',
 '_unpickle_frame_compat',
 '_unpickle_matrix_compat',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 '_xs',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'anonymity',
 'any',
 'append',
 'apply',
 'applymap',
 'as_matrix',
 'asfreq',
 'asof',
 'assign',
 'astype',
 'at',
 'at_time',
 'axes',
 'benefits',
 'between_time',
 'bfill',
 'bool',
 'boxplot',
 'care_options',
 'clip',
 'clip_lower',
 'clip_upper',
 'columns',
 'combine',
 'combine_first',
 'comments',
 'compound',
 'copy',
 'corr',
 'corrwith',
 'count',
 'cov',
 'coworkers',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'eval',
 'ewm',
 'expanding',
 'explode',
 'family_history',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'floordiv',
 'from_dict',
 'from_records',
 'ftypes',
 'ge',
 'get',
 'get_dtype_counts',
 'get_ftype_counts',
 'get_values',
 'groupby',
 'gt',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'info',
 'insert',
 'interpolate',
 'isin',
 'isna',
 'isnull',
 'items',
 'iteritems',
 'iterrows',
 'itertuples',
 'ix',
 'join',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'leave',
 'loc',
 'lookup',
 'lt',
 'mad',
 'mask',
 'max',
 'mean',
 'median',
 'melt',
 'memory_usage',
 'mental_health_consequence',
 'mental_health_interview',
 'mental_vs_physical',
 'merge',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'ndim',
 'ne',
 'nlargest',
 'no_employees',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'obs_consequence',
 'pct_change',
 'phys_health_consequence',
 'phys_health_interview',
 'pipe',
 'pivot',
 'pivot_table',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'query',
 'radd',
 'rank',
 'rdiv',
 'reindex',
 'reindex_like',
 'remote_work',
 'rename',
 'rename_axis',
 'reorder_levels',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'seek_help',
 'select_dtypes',
 'self_employed',
 'sem',
 'set_axis',
 'set_index',
 'shape',
 'shift',
 'size',
 'skew',
 'slice_shift',
 'sort_index',
 'sort_values',
 'sparse',
 'squeeze',
 'stack',
 'state',
 'std',
 'style',
 'sub',
 'subtract',
 'sum',
 'supervisor',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'tech_company',
 'to_clipboard',
 'to_csv',
 'to_dense',
 'to_dict',
 'to_excel',
 'to_feather',
 'to_gbq',
 'to_hdf',
 'to_html',
 'to_json',
 'to_latex',
 'to_msgpack',
 'to_numpy',
 'to_parquet',
 'to_period',
 'to_pickle',
 'to_records',
 'to_sparse',
 'to_sql',
 'to_stata',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'transform',
 'transpose',
 'treatment',
 'truediv',
 'truncate',
 'tshift',
 'tz_convert',
 'tz_localize',
 'unstack',
 'update',
 'values',
 'var',
 'wellness_program',
 'where',
 'work_interfere',
 'xs']

## Missing value treatment

In [132]:


df_train.state.isnull().sum()

410

In [133]:
df_train.state.value_counts()

CA    123
WA     60
NY     49
TN     39
TX     38
OR     26
PA     26
OH     22
MA     20
IN     20
IL     20
MI     19
MN     16
VA     12
MO     12
GA     12
FL     10
NC     10
WI     10
CO      9
MD      7
AZ      7
UT      6
OK      5
KY      5
SC      4
CT      4
AL      4
DC      4
IA      4
NJ      3
SD      3
KS      3
NH      3
NV      3
NE      2
NM      2
VT      2
WY      2
LA      1
MS      1
ID      1
RI      1
WV      1
ME      1
Name: state, dtype: int64

In [134]:
# fill unknown

df_train.state.fillna('Unknown', inplace = True)

In [135]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1042 entries, 0 to 1041
Data columns (total 28 columns):
S.No                         1042 non-null int64
Timestamp                    1042 non-null object
Age                          1042 non-null int64
Gender                       1042 non-null object
Country                      1042 non-null object
state                        1042 non-null object
self_employed                1024 non-null object
family_history               1042 non-null object
treatment                    1042 non-null object
work_interfere               808 non-null object
no_employees                 1042 non-null object
remote_work                  1042 non-null object
tech_company                 1042 non-null object
benefits                     1042 non-null object
care_options                 1042 non-null object
wellness_program             1042 non-null object
seek_help                    1042 non-null object
anonymity                    1042 non-null object
leave                        1042 non-null object
mental_health_consequence    1042 non-null object
phys_health_consequence      1042 non-null object
coworkers                    1042 non-null object
supervisor                   1042 non-null object
mental_health_interview      1042 non-null object
phys_health_interview        1042 non-null object
mental_vs_physical           1042 non-null object
obs_consequence              1042 non-null object
comments                     130 non-null object
dtypes: int64(2), object(26)
memory usage: 228.1+ KB

In [136]:
df_train.self_employed.unique()

array([nan, 'Yes', 'No'], dtype=object)

In [137]:
df_train.self_employed.value_counts()

No     902
Yes    122
Name: self_employed, dtype: int64

In [138]:
# see the mode and fill with mode

df_train.self_employed.fillna('No', inplace = True)

In [139]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1042 entries, 0 to 1041
Data columns (total 28 columns):
S.No                         1042 non-null int64
Timestamp                    1042 non-null object
Age                          1042 non-null int64
Gender                       1042 non-null object
Country                      1042 non-null object
state                        1042 non-null object
self_employed                1042 non-null object
family_history               1042 non-null object
treatment                    1042 non-null object
work_interfere               808 non-null object
no_employees                 1042 non-null object
remote_work                  1042 non-null object
tech_company                 1042 non-null object
benefits                     1042 non-null object
care_options                 1042 non-null object
wellness_program             1042 non-null object
seek_help                    1042 non-null object
anonymity                    1042 non-null object
leave                        1042 non-null object
mental_health_consequence    1042 non-null object
phys_health_consequence      1042 non-null object
coworkers                    1042 non-null object
supervisor                   1042 non-null object
mental_health_interview      1042 non-null object
phys_health_interview        1042 non-null object
mental_vs_physical           1042 non-null object
obs_consequence              1042 non-null object
comments                     130 non-null object
dtypes: int64(2), object(26)
memory usage: 228.1+ KB

In [140]:
df_train.work_interfere.value_counts()

Sometimes    385
Never        178
Rarely       144
Often        101
Name: work_interfere, dtype: int64

In [141]:

df_train.work_interfere.fillna('Unknown', inplace = True)

In [142]:
df_train.work_interfere.value_counts()

Sometimes    385
Unknown      234
Never        178
Rarely       144
Often        101
Name: work_interfere, dtype: int64

In [143]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1042 entries, 0 to 1041
Data columns (total 28 columns):
S.No                         1042 non-null int64
Timestamp                    1042 non-null object
Age                          1042 non-null int64
Gender                       1042 non-null object
Country                      1042 non-null object
state                        1042 non-null object
self_employed                1042 non-null object
family_history               1042 non-null object
treatment                    1042 non-null object
work_interfere               1042 non-null object
no_employees                 1042 non-null object
remote_work                  1042 non-null object
tech_company                 1042 non-null object
benefits                     1042 non-null object
care_options                 1042 non-null object
wellness_program             1042 non-null object
seek_help                    1042 non-null object
anonymity                    1042 non-null object
leave                        1042 non-null object
mental_health_consequence    1042 non-null object
phys_health_consequence      1042 non-null object
coworkers                    1042 non-null object
supervisor                   1042 non-null object
mental_health_interview      1042 non-null object
phys_health_interview        1042 non-null object
mental_vs_physical           1042 non-null object
obs_consequence              1042 non-null object
comments                     130 non-null object
dtypes: int64(2), object(26)
memory usage: 228.1+ KB

In [144]:
s =  df_train.Age.unique()
np.sort(s)

array([18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51,
       53, 54, 55, 56, 57, 58, 60, 61, 62, 65])

In [145]:
df_train

,S.No,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,1,27/08/14 11:29,37,Female,United States,IL,No,No,Yes,Often,...,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN
1,2,27/08/14 11:29,44,M,United States,IN,No,No,No,Rarely,...,Don't know,Maybe,No,No,No,No,No,Don't know,No,NaN
2,3,27/08/14 11:29,32,Male,Canada,Unknown,No,No,No,Rarely,...,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,NaN
3,4,27/08/14 11:29,31,Male,United Kingdom,Unknown,No,Yes,Yes,Often,...,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,NaN
4,5,27/08/14 11:30,31,Male,United States,TX,No,No,No,Never,...,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1037,1044,29/08/14 11:20,26,Male,United States,WA,No,No,Yes,Sometimes,...,Don't know,Maybe,No,Some of them,No,No,Maybe,Don't know,No,NaN
1038,1045,29/08/14 11:22,29,f,United Kingdom,Unknown,No,No,Yes,Often,...,Don't know,Maybe,No,Some of them,No,No,Yes,No,Yes,NaN
1039,1046,29/08/14 11:23,26,Female,Canada,Unknown,No,Yes,Yes,Sometimes,...,Don't know,Maybe,No,Some of them,No,No,Maybe,Don't know,No,NaN
1040,1047,29/08/14 11:24,33,Malr,Italy,Unknown,No,Yes,Yes,Sometimes,...,Somewhat easy,No,No,Some of them,Yes,No,No,Don't know,No,I suffered of panic attacks and agoraphobia fo...
1041,1048,29/08/14 11:25,28,Male,Brazil,Unknown,No,Yes,No,Sometimes,...,Somewhat easy,No,No,Some of them,Some of them,No,No,Don't know,Yes,NaN

In [146]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 208 entries, 0 to 207
Data columns (total 27 columns):
S.No                         208 non-null int64
Timestamp                    208 non-null object
Age                          208 non-null int64
Gender                       208 non-null object
Country                      208 non-null object
state                        105 non-null object
self_employed                208 non-null object
family_history               208 non-null object
work_interfere               180 non-null object
no_employees                 208 non-null object
remote_work                  208 non-null object
tech_company                 208 non-null object
benefits                     208 non-null object
care_options                 208 non-null object
wellness_program             208 non-null object
seek_help                    208 non-null object
anonymity                    208 non-null object
leave                        208 non-null object
mental_health_consequence    208 non-null object
phys_health_consequence      208 non-null object
coworkers                    208 non-null object
supervisor                   208 non-null object
mental_health_interview      208 non-null object
phys_health_interview        208 non-null object
mental_vs_physical           208 non-null object
obs_consequence              208 non-null object
comments                     31 non-null object
dtypes: int64(2), object(25)
memory usage: 44.0+ KB

In [147]:
df_test.state.fillna('Unknown', inplace = True)
df_test.work_interfere.fillna('Unknown', inplace = True)

In [148]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 208 entries, 0 to 207
Data columns (total 27 columns):
S.No                         208 non-null int64
Timestamp                    208 non-null object
Age                          208 non-null int64
Gender                       208 non-null object
Country                      208 non-null object
state                        208 non-null object
self_employed                208 non-null object
family_history               208 non-null object
work_interfere               208 non-null object
no_employees                 208 non-null object
remote_work                  208 non-null object
tech_company                 208 non-null object
benefits                     208 non-null object
care_options                 208 non-null object
wellness_program             208 non-null object
seek_help                    208 non-null object
anonymity                    208 non-null object
leave                        208 non-null object
mental_health_consequence    208 non-null object
phys_health_consequence      208 non-null object
coworkers                    208 non-null object
supervisor                   208 non-null object
mental_health_interview      208 non-null object
phys_health_interview        208 non-null object
mental_vs_physical           208 non-null object
obs_consequence              208 non-null object
comments                     31 non-null object
dtypes: int64(2), object(25)
memory usage: 44.0+ KB

In [149]:
df_train.describe().round(2)

          S.No      Age
count  1042.00  1042.00
mean    524.31    31.92
std     302.78     7.22
min       1.00    18.00
25%     262.25    27.00
50%     524.50    31.00
75%     786.75    36.00
max    1048.00    65.00

In [150]:
df_test.describe().round(2)

         S.No     Age
count  208.00  208.00
mean   105.93   32.81
std     60.87    7.61
min      1.00   20.00
25%     53.75   27.00
50%    106.50   32.00
75%    158.25   38.00
max    210.00   72.00

In [151]:
df_train.Gender.value_counts()

Male                        515
male                        161
M                           100
Female                       99
female                       48
F                            33
m                            30
f                            13
Make                          4
Cis Male                      2
Female                        2
Female (trans)                2
Man                           2
Woman                         2
Neuter                        1
Malr                          1
fluid                         1
Androgyne                     1
Cis Female                    1
Mail                          1
Mal                           1
Enby                          1
Femake                        1
queer                         1
male leaning androgynous      1
cis-female/femme              1
Male                          1
Male-ish                      1
something kinda male?         1
Nah                           1
cis male                      1
msle                          1
Trans-female                  1
Agender                       1
Trans woman                   1
maile                         1
queer/she/they                1
Guy (-ish) ^_^                1
non-binary                    1
Female (cis)                  1
Genderqueer                   1
woman                         1
Male (CIS)                    1
Name: Gender, dtype: int64

In [152]:
df_train['Gender'].replace({'male':'Male','M':'Male','female':'Female','F':'Female','m':'Male','f':'Female',
                            'Make':'Male','Man':'Male','Female (trans)':'Female','Cis Male':'Male',
                           'Woman':'Female','Cis Female':'Female','Mail':'Male','cis male':'Male',
                           'Guy (-ish) ^_^' :'Male','Male-ish':'Male','Trans-female':'Other','msle':'Male',
                           'Nah':'Other','non-binary':'Other','Femake':'Male','Neuter':'Other','male leaning androgynous':
                           'Male','Male (CIS)':'Male','Female (cis)':'Female','Malr':'Male','Agender':'Other',
                           'Enby':'Other','woman':'Female','Genderqueer':'Female','Mal':'Male','fluid':'Other',
                           'Trans woman':'Other','queer':'Female','queer/she/they':'Other','something kinda male?':'Other',
                           'Androgyne':'Other','maile':'Male','cis-female/femme':'Female','Male ':'Male','Female ':'Female'}, inplace = True)

In [153]:
df_train.Gender.value_counts()

Male      826
Female    205
Other      11
Name: Gender, dtype: int64

In [154]:
df_train.Country.value_counts()

United States             641
United Kingdom            152
Canada                     64
Germany                    37
Netherlands                18
Australia                  18
Ireland                    13
France                     11
India                       8
Switzerland                 6
Italy                       6
New Zealand                 6
Sweden                      6
Brazil                      5
Poland                      5
Israel                      4
Belgium                     4
South Africa                4
Mexico                      3
Austria                     3
Russia                      3
Bulgaria                    3
Portugal                    2
Singapore                   2
Denmark                     2
Finland                     2
Slovenia                    1
Hungary                     1
Colombia                    1
Spain                       1
Romania                     1
Latvia                      1
Thailand                    1
Costa Rica                  1
Norway                      1
Croatia                     1
Bosnia and Herzegovina      1
Uruguay                     1
Japan                       1
Nigeria                     1
Name: Country, dtype: int64

In [155]:
df_train.head()

,S.No,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,1,27/08/14 11:29,37,Female,United States,IL,No,No,Yes,Often,...,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN
1,2,27/08/14 11:29,44,Male,United States,IN,No,No,No,Rarely,...,Don't know,Maybe,No,No,No,No,No,Don't know,No,NaN
2,3,27/08/14 11:29,32,Male,Canada,Unknown,No,No,No,Rarely,...,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,NaN
3,4,27/08/14 11:29,31,Male,United Kingdom,Unknown,No,Yes,Yes,Often,...,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,NaN
4,5,27/08/14 11:30,31,Male,United States,TX,No,No,No,Never,...,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,NaN

In [156]:
df_train.drop(['comments','S.No'],inplace = True, axis = 1)

In [157]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 208 entries, 0 to 207
Data columns (total 27 columns):
S.No                         208 non-null int64
Timestamp                    208 non-null object
Age                          208 non-null int64
Gender                       208 non-null object
Country                      208 non-null object
state                        208 non-null object
self_employed                208 non-null object
family_history               208 non-null object
work_interfere               208 non-null object
no_employees                 208 non-null object
remote_work                  208 non-null object
tech_company                 208 non-null object
benefits                     208 non-null object
care_options                 208 non-null object
wellness_program             208 non-null object
seek_help                    208 non-null object
anonymity                    208 non-null object
leave                        208 non-null object
mental_health_consequence    208 non-null object
phys_health_consequence      208 non-null object
coworkers                    208 non-null object
supervisor                   208 non-null object
mental_health_interview      208 non-null object
phys_health_interview        208 non-null object
mental_vs_physical           208 non-null object
obs_consequence              208 non-null object
comments                     31 non-null object
dtypes: int64(2), object(25)
memory usage: 44.0+ KB

In [158]:
df_test.head()

,S.No,Timestamp,Age,Gender,Country,state,self_employed,family_history,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,1,29/08/14 11:32,39,Male,United Kingdom,Unknown,Yes,Yes,Sometimes,01-May,...,Somewhat difficult,No,No,Yes,Yes,No,Maybe,Yes,Yes,These result may be a tad confusing so a summa...
1,2,29/08/14 11:32,26,female,United States,WA,No,Yes,Sometimes,More than 1000,...,Don't know,No,No,Some of them,Yes,No,Maybe,No,Yes,I should note one of the places my employer fa...
2,3,29/08/14 11:33,23,Female,United States,IL,No,Yes,Sometimes,26-100,...,Somewhat difficult,Yes,No,No,Some of them,No,Maybe,No,No,NaN
3,4,29/08/14 11:34,35,Male,Switzerland,Unknown,No,Yes,Often,More than 1000,...,Very easy,No,No,Some of them,Some of them,No,Maybe,No,No,NaN
4,5,29/08/14 11:36,36,Male,United States,FL,No,No,Never,01-May,...,Very easy,No,No,Some of them,Some of them,No,No,Don't know,No,NaN

In [159]:
df_test.Gender.value_counts()

Male                                              96
male                                              43
Female                                            22
M                                                 16
female                                            14
F                                                  5
m                                                  4
Male                                               2
f                                                  2
Cis Man                                            1
Woman                                              1
ostensibly male, unsure what that really means     1
femail                                             1
Name: Gender, dtype: int64

In [160]:
df_test['Gender'].replace({'male':'Male','M':'Male','female':'Female','F':'Female','m':'Male','f':'Female',
                            'Male ':'Male','Man':'Male','ostensibly male, unsure what that really means':'Male',
                           'femail':'Female',
                           'Woman':'Female','Cis Man':'Male'}, inplace = True)

In [161]:
df_test.Gender.value_counts()

Male      163
Female     45
Name: Gender, dtype: int64

In [162]:
df_test.head()

,S.No,Timestamp,Age,Gender,Country,state,self_employed,family_history,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,1,29/08/14 11:32,39,Male,United Kingdom,Unknown,Yes,Yes,Sometimes,01-May,...,Somewhat difficult,No,No,Yes,Yes,No,Maybe,Yes,Yes,These result may be a tad confusing so a summa...
1,2,29/08/14 11:32,26,Female,United States,WA,No,Yes,Sometimes,More than 1000,...,Don't know,No,No,Some of them,Yes,No,Maybe,No,Yes,I should note one of the places my employer fa...
2,3,29/08/14 11:33,23,Female,United States,IL,No,Yes,Sometimes,26-100,...,Somewhat difficult,Yes,No,No,Some of them,No,Maybe,No,No,NaN
3,4,29/08/14 11:34,35,Male,Switzerland,Unknown,No,Yes,Often,More than 1000,...,Very easy,No,No,Some of them,Some of them,No,Maybe,No,No,NaN
4,5,29/08/14 11:36,36,Male,United States,FL,No,No,Never,01-May,...,Very easy,No,No,Some of them,Some of them,No,No,Don't know,No,NaN

In [163]:
df_test.no_employees.value_counts()
df_test.drop(['no_employees','S.No','Timestamp','comments'], axis = 1, inplace = True)

In [164]:
df_train.no_employees.value_counts()
df_train.drop(['no_employees','Timestamp'], axis = 1, inplace = True)

In [165]:
df_test.remote_work.value_counts()

No     150
Yes     58
Name: remote_work, dtype: int64

In [166]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1042 entries, 0 to 1041
Data columns (total 24 columns):
Age                          1042 non-null int64
Gender                       1042 non-null object
Country                      1042 non-null object
state                        1042 non-null object
self_employed                1042 non-null object
family_history               1042 non-null object
treatment                    1042 non-null object
work_interfere               1042 non-null object
remote_work                  1042 non-null object
tech_company                 1042 non-null object
benefits                     1042 non-null object
care_options                 1042 non-null object
wellness_program             1042 non-null object
seek_help                    1042 non-null object
anonymity                    1042 non-null object
leave                        1042 non-null object
mental_health_consequence    1042 non-null object
phys_health_consequence      1042 non-null object
coworkers                    1042 non-null object
supervisor                   1042 non-null object
mental_health_interview      1042 non-null object
phys_health_interview        1042 non-null object
mental_vs_physical           1042 non-null object
obs_consequence              1042 non-null object
dtypes: int64(1), object(23)
memory usage: 195.5+ KB

In [167]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 208 entries, 0 to 207
Data columns (total 23 columns):
Age                          208 non-null int64
Gender                       208 non-null object
Country                      208 non-null object
state                        208 non-null object
self_employed                208 non-null object
family_history               208 non-null object
work_interfere               208 non-null object
remote_work                  208 non-null object
tech_company                 208 non-null object
benefits                     208 non-null object
care_options                 208 non-null object
wellness_program             208 non-null object
seek_help                    208 non-null object
anonymity                    208 non-null object
leave                        208 non-null object
mental_health_consequence    208 non-null object
phys_health_consequence      208 non-null object
coworkers                    208 non-null object
supervisor                   208 non-null object
mental_health_interview      208 non-null object
phys_health_interview        208 non-null object
mental_vs_physical           208 non-null object
obs_consequence              208 non-null object
dtypes: int64(1), object(22)
memory usage: 37.5+ KB

In [168]:
df_train.drop(['Gender','Country','state','tech_company'], axis = 1, inplace = True)
df_test.drop(['Gender','Country','state','tech_company'], axis = 1, inplace = True)

In [169]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1042 entries, 0 to 1041
Data columns (total 20 columns):
Age                          1042 non-null int64
self_employed                1042 non-null object
family_history               1042 non-null object
treatment                    1042 non-null object
work_interfere               1042 non-null object
remote_work                  1042 non-null object
benefits                     1042 non-null object
care_options                 1042 non-null object
wellness_program             1042 non-null object
seek_help                    1042 non-null object
anonymity                    1042 non-null object
leave                        1042 non-null object
mental_health_consequence    1042 non-null object
phys_health_consequence      1042 non-null object
coworkers                    1042 non-null object
supervisor                   1042 non-null object
mental_health_interview      1042 non-null object
phys_health_interview        1042 non-null object
mental_vs_physical           1042 non-null object
obs_consequence              1042 non-null object
dtypes: int64(1), object(19)
memory usage: 162.9+ KB

In [170]:
# one hot coding : self_employed,family_history,remote_work,benefits,care_options,wellness_program
#                  ,seek_help,anonymity,mental_health_consequence,phys_health_consequence,coworkers,supervisor
#                  ,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence

In [171]:
df_train.obs_consequence.value_counts()

No     898
Yes    144
Name: obs_consequence, dtype: int64

In [172]:
dummies1 = pd.get_dummies(df_train.self_employed)
dummies1.rename({'Yes' : 'self_emp_Yes', 'No':'self_emp_No'}, axis=1, inplace = True)

dummies1.drop('self_emp_Yes', axis = 1, inplace = True)

In [173]:
dummies2 = pd.get_dummies(df_train.family_history)
dummies2.rename({'Yes' : 'family_hist_Yes', 'No':'family_hist_No'}, axis=1, inplace = True)
dummies2.drop('family_hist_No', axis = 1, inplace = True)

In [174]:
dummies3 = pd.get_dummies(df_train.remote_work)
#dummies3
dummies3.rename({'Yes' : 'remote_work_Yes', 'No':'remote_work_No'}, axis=1, inplace = True)

dummies3.drop('remote_work_Yes', axis = 1, inplace = True)

In [175]:
dummies4 = pd.get_dummies(df_train.benefits)
#dummies4
dummies4.rename({"Don't know" : "benefits_DontK",'Yes' : 'benefits_Yes', 'No':'benefits_No' }, axis=1, inplace = True)
dummies4.drop('benefits_DontK', axis = 1, inplace = True)

In [176]:
dummies5 = pd.get_dummies(df_train.remote_work)
#dummies5
dummies5.rename({'Yes' : 'remote_work_Yes', 'No':'remote_work_No'}, axis=1, inplace = True)

dummies5.drop('remote_work_No', axis = 1, inplace = True)

In [177]:
dummies6 = pd.get_dummies(df_train.care_options)
#dummies6
dummies6.rename({'Yes' : 'care_options_Yes', 'No':'care_options_No','Not sure':'care_options_NotSure'}, axis=1, inplace = True)

dummies6.drop('care_options_NotSure', axis = 1, inplace = True)

In [178]:
dummies7 = pd.get_dummies(df_train.wellness_program)
#dummies7
dummies7.rename({"Don't know" : "wellness_program_DontK",'Yes' : 'wellness_program_Yes', 'No':'wellness_program_No'}, axis=1, inplace = True)

dummies7.drop('wellness_program_DontK', axis = 1, inplace = True)

In [179]:
dummies8 = pd.get_dummies(df_train.seek_help)
#dummies8
dummies8.rename({"Don't know" : "seek_help_DontK",'Yes' : 'seek_help_Yes', 'No':'seek_help_No'}, axis=1, inplace = True)

dummies8.drop('seek_help_DontK', axis = 1, inplace = True)

In [180]:
dummies9 = pd.get_dummies(df_train.anonymity)
#dummies9
dummies9.rename({"Don't know" : "anonymity_DontK",'Yes' : 'anonymity_Yes', 'No':'anonymity_No'}, axis=1, inplace = True)

dummies9.drop('anonymity_DontK', axis = 1, inplace = True)

In [181]:
dummies10 = pd.get_dummies(df_train.mental_health_consequence)
#dummies10
dummies10.rename({"Maybe" : "mental_health_consequence_Maybe",'Yes' : 'mental_health_consequence_Yes', 'No':'mental_health_consequence_No'}, axis=1, inplace = True)

dummies10.drop('mental_health_consequence_Maybe', axis = 1, inplace = True)

In [182]:
dummies11 = pd.get_dummies(df_train.phys_health_consequence)
#dummies11
dummies11.rename({"Maybe" : "phys_health_consequence_Maybe",'Yes' : 'phys_health_consequence_Yes', 'No':'phys_health_consequence_No'}, axis=1, inplace = True)

dummies11.drop('phys_health_consequence_Maybe', axis = 1, inplace = True)

In [183]:
dummies12 = pd.get_dummies(df_train.coworkers)
#dummies12
dummies12.rename({'Some of them': 'coworkers_some','Yes' : 'coworkers_Yes', 'No':'coworkers_No'}, axis=1, inplace = True)

dummies12.drop('coworkers_some', axis = 1, inplace = True)

In [184]:
dummies13 = pd.get_dummies(df_train.supervisor)
#dummies13
dummies13.rename({'Some of them': 'supervisor_some','Yes' : 'supervisor_Yes', 'No':'supervisor_No'}, axis=1, inplace = True)

dummies13.drop('supervisor_some', axis = 1, inplace = True)

In [185]:
dummies14 = pd.get_dummies(df_train.mental_health_interview)
#dummies14
dummies14.rename({"Maybe" : "mental_health_interview_Maybe",'Yes' : 'mental_health_interview_Yes', 'No':'mental_health_interview_No'}, axis=1, inplace = True)
dummies14.drop('mental_health_interview_Maybe', axis = 1, inplace = True)

In [186]:
dummies15 = pd.get_dummies(df_train.phys_health_interview)
#dummies15
dummies15.rename({"Maybe" : "phys_health_interview_Maybe",'Yes' : 'phys_health_interview_Yes', 'No':'phys_health_interview_No'}, axis=1, inplace = True)
dummies15.drop('phys_health_interview_Maybe', axis = 1, inplace = True)

In [187]:
dummies16 = pd.get_dummies(df_train.mental_vs_physical)
#dummies16
dummies16.rename({"Don't know" : "mental_vs_physical_DontK",'Yes' : 'mental_vs_physical_Yes', 'No':'mental_vs_physical_No'}, axis=1, inplace = True)

dummies16.drop('mental_vs_physical_DontK', axis = 1, inplace = True)

In [188]:
dummies17 = pd.get_dummies(df_train.obs_consequence)
#dummies17
dummies17.rename({'Yes' : 'obs_consequence_Yes', 'No':'obs_consequence_No'}, axis=1, inplace = True)
dummies17.drop('obs_consequence_No', axis = 1, inplace = True)

In [189]:
df_train.drop(['self_employed','family_history','remote_work','benefits','care_options','wellness_program'
                 ,'seek_help','anonymity','mental_health_consequence','phys_health_consequence',
               'coworkers','supervisor','mental_health_interview','phys_health_interview',
               'mental_vs_physical','obs_consequence'], axis = 1, inplace = True)

In [190]:
df_train.head()

   Age treatment work_interfere               leave
0   37       Yes          Often       Somewhat easy
1   44        No         Rarely          Don't know
2   32        No         Rarely  Somewhat difficult
3   31       Yes          Often  Somewhat difficult
4   31        No          Never          Don't know

In [191]:
df_train = pd.concat([df_train,dummies1,dummies2,dummies3,dummies4,dummies5,dummies6,dummies7,dummies8,dummies9,dummies10,
          dummies11,dummies12,dummies13,dummies14,dummies15,dummies16,dummies17], axis = 1)

In [192]:
# label encoding : work_interfere,leave

from sklearn.preprocessing import LabelEncoder


work_interfere_LE = LabelEncoder()
leave_LE = LabelEncoder()

In [193]:
df_train['work_interfere'] = work_interfere_LE.fit_transform(df_train['work_interfere'])
df_train['leave'] = leave_LE.fit_transform(df_train['leave'])

In [194]:
df_train.head()

,Age,treatment,work_interfere,leave,self_emp_No,family_hist_Yes,remote_work_No,benefits_No,benefits_Yes,remote_work_Yes,...,coworkers_Yes,supervisor_No,supervisor_Yes,mental_health_interview_No,mental_health_interview_Yes,phys_health_interview_No,phys_health_interview_Yes,mental_vs_physical_No,mental_vs_physical_Yes,obs_consequence_Yes
0,37,Yes,1,2,1,0,1,0,1,0,...,0,0,1,1,0,0,0,0,1,0
1,44,No,2,0,1,0,1,0,0,0,...,0,1,0,1,0,1,0,0,0,0
2,32,No,2,1,1,0,1,1,0,0,...,1,0,1,0,1,0,1,1,0,0
3,31,Yes,1,1,1,1,1,1,0,0,...,0,1,0,0,0,0,0,1,0,1
4,31,No,0,0,1,0,0,0,1,1,...,0,0,1,0,1,0,1,0,0,0

In [195]:
df_train.shape

(1042, 33)

In [196]:
X = df_train.drop('treatment', axis = 1)
Y = df_train['treatment']

Y.replace(['No','Yes'],[1,0], inplace = True)
Y.head()

0    0
1    1
2    1
3    0
4    1
Name: treatment, dtype: int64

In [197]:
from sklearn.model_selection import train_test_split

In [198]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y, test_size = 0.30)

## encoding on test data

In [199]:
dummies1 = pd.get_dummies(df_test.self_employed)
dummies1.rename({'Yes' : 'self_emp_Yes', 'No':'self_emp_No'}, axis=1, inplace = True)

dummies1.drop('self_emp_Yes', axis = 1, inplace = True)

In [200]:
dummies2 = pd.get_dummies(df_test.family_history)
dummies2.rename({'Yes' : 'family_hist_Yes', 'No':'family_hist_No'}, axis=1, inplace = True)

dummies2.drop('family_hist_No', axis = 1, inplace = True)

In [201]:

dummies3 = pd.get_dummies(df_test.remote_work)
#dummies3
dummies3.rename({'Yes' : 'remote_work_Yes', 'No':'remote_work_No'}, axis=1, inplace = True)

dummies3.drop('remote_work_Yes', axis = 1, inplace = True)

In [202]:
dummies4 = pd.get_dummies(df_test.benefits)
#dummies4
dummies4.rename({"Don't know" : "benefits_DontK",'Yes' : 'benefits_Yes', 'No':'benefits_No' }, axis=1, inplace = True)

dummies4.drop('benefits_DontK', axis = 1, inplace = True)

In [203]:
dummies5 = pd.get_dummies(df_test.remote_work)
#dummies5
dummies5.rename({'Yes' : 'remote_work_Yes', 'No':'remote_work_No'}, axis=1, inplace = True)

dummies5.drop('remote_work_No', axis = 1, inplace = True)

In [204]:
dummies6 = pd.get_dummies(df_test.care_options)
#dummies6
dummies6.rename({'Yes' : 'care_options_Yes', 'No':'care_options_No','Not sure':'care_options_NotSure'}, axis=1, inplace = True)

dummies6.drop('care_options_NotSure', axis = 1, inplace = True)

In [205]:
dummies7 = pd.get_dummies(df_test.wellness_program)
#dummies7
dummies7.rename({"Don't know" : "wellness_program_DontK",'Yes' : 'wellness_program_Yes', 'No':'wellness_program_No'}, axis=1, inplace = True)

dummies7.drop('wellness_program_DontK', axis = 1, inplace = True)

In [206]:
dummies8 = pd.get_dummies(df_test.seek_help)
#dummies8
dummies8.rename({"Don't know" : "seek_help_DontK",'Yes' : 'seek_help_Yes', 'No':'seek_help_No'}, axis=1, inplace = True)

dummies8.drop('seek_help_DontK', axis = 1, inplace = True)

In [207]:
dummies9 = pd.get_dummies(df_test.anonymity)
#dummies9
dummies9.rename({"Don't know" : "anonymity_DontK",'Yes' : 'anonymity_Yes', 'No':'anonymity_No'}, axis=1, inplace = True)

dummies9.drop('anonymity_DontK', axis = 1, inplace = True)

In [208]:
dummies10 = pd.get_dummies(df_test.mental_health_consequence)
#dummies10
dummies10.rename({"Maybe" : "mental_health_consequence_Maybe",'Yes' : 'mental_health_consequence_Yes', 'No':'mental_health_consequence_No'}, axis=1, inplace = True)

dummies10.drop('mental_health_consequence_Maybe', axis = 1, inplace = True)

In [209]:
dummies11 = pd.get_dummies(df_test.phys_health_consequence)
#dummies11
dummies11.rename({"Maybe" : "phys_health_consequence_Maybe",'Yes' : 'phys_health_consequence_Yes', 'No':'phys_health_consequence_No'}, axis=1, inplace = True)

dummies11.drop('phys_health_consequence_Maybe', axis = 1, inplace = True)

In [210]:
dummies12 = pd.get_dummies(df_test.coworkers)
#dummies12
dummies12.rename({'Some of them': 'coworkers_some','Yes' : 'coworkers_Yes', 'No':'coworkers_No'}, axis=1, inplace = True)

dummies12.drop('coworkers_some', axis = 1, inplace = True)

In [211]:
dummies13 = pd.get_dummies(df_test.supervisor)
#dummies13
dummies13.rename({'Some of them': 'supervisor_some','Yes' : 'supervisor_Yes', 'No':'supervisor_No'}, axis=1, inplace = True)

dummies13.drop('supervisor_some', axis = 1, inplace = True)

In [212]:
dummies14 = pd.get_dummies(df_test.mental_health_interview)
#dummies14
dummies14.rename({"Maybe" : "mental_health_interview_Maybe",'Yes' : 'mental_health_interview_Yes', 'No':'mental_health_interview_No'}, axis=1, inplace = True)

dummies14.drop('mental_health_interview_Maybe', axis = 1, inplace = True)

In [213]:
dummies15 = pd.get_dummies(df_test.phys_health_interview)
#dummies15
dummies15.rename({"Maybe" : "phys_health_interview_Maybe",'Yes' : 'phys_health_interview_Yes', 'No':'phys_health_interview_No'}, axis=1, inplace = True)
dummies15.drop('phys_health_interview_Maybe', axis = 1, inplace = True)

In [214]:
dummies16 = pd.get_dummies(df_test.mental_vs_physical)
#dummies16
dummies16.rename({"Don't know" : "mental_vs_physical_DontK",'Yes' : 'mental_vs_physical_Yes', 'No':'mental_vs_physical_No'}, axis=1, inplace = True)

dummies16.drop('mental_vs_physical_DontK', axis = 1, inplace = True)

In [215]:
dummies17 = pd.get_dummies(df_test.obs_consequence)
#dummies17
dummies17.rename({'Yes' : 'obs_consequence_Yes', 'No':'obs_consequence_No'}, axis=1, inplace = True)
dummies17.drop('obs_consequence_No', axis = 1, inplace = True)

In [216]:
df_test.drop(['self_employed','family_history','remote_work','benefits','care_options','wellness_program'
                 ,'seek_help','anonymity','mental_health_consequence','phys_health_consequence',
               'coworkers','supervisor','mental_health_interview','phys_health_interview',
               'mental_vs_physical','obs_consequence'], axis = 1, inplace = True)

In [217]:
df_test = pd.concat([df_test,dummies1,dummies2,dummies3,dummies4,dummies5,dummies6,dummies7,dummies8,dummies9,dummies10,
          dummies11,dummies12,dummies13,dummies14,dummies15,dummies16,dummies17], axis = 1)
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 208 entries, 0 to 207
Data columns (total 32 columns):
Age                              208 non-null int64
work_interfere                   208 non-null object
leave                            208 non-null object
self_emp_No                      208 non-null uint8
family_hist_Yes                  208 non-null uint8
remote_work_No                   208 non-null uint8
benefits_No                      208 non-null uint8
benefits_Yes                     208 non-null uint8
remote_work_Yes                  208 non-null uint8
care_options_No                  208 non-null uint8
care_options_Yes                 208 non-null uint8
wellness_program_No              208 non-null uint8
wellness_program_Yes             208 non-null uint8
seek_help_No                     208 non-null uint8
seek_help_Yes                    208 non-null uint8
anonymity_No                     208 non-null uint8
anonymity_Yes                    208 non-null uint8
mental_health_consequence_No     208 non-null uint8
mental_health_consequence_Yes    208 non-null uint8
phys_health_consequence_No       208 non-null uint8
phys_health_consequence_Yes      208 non-null uint8
coworkers_No                     208 non-null uint8
coworkers_Yes                    208 non-null uint8
supervisor_No                    208 non-null uint8
supervisor_Yes                   208 non-null uint8
mental_health_interview_No       208 non-null uint8
mental_health_interview_Yes      208 non-null uint8
phys_health_interview_No         208 non-null uint8
phys_health_interview_Yes        208 non-null uint8
mental_vs_physical_No            208 non-null uint8
mental_vs_physical_Yes           208 non-null uint8
obs_consequence_Yes              208 non-null uint8
dtypes: int64(1), object(2), uint8(29)
memory usage: 10.9+ KB

In [218]:
# label encoding : work_interfere,leave

from sklearn.preprocessing import LabelEncoder


work_interfere_LE_test = LabelEncoder()
leave_LE_test = LabelEncoder()

In [219]:
df_test['work_interfere'] = work_interfere_LE_test.fit_transform(df_test['work_interfere'])
df_test['leave'] = leave_LE_test.fit_transform(df_test['leave'])

In [220]:
df_test.head()

,Age,work_interfere,leave,self_emp_No,family_hist_Yes,remote_work_No,benefits_No,benefits_Yes,remote_work_Yes,care_options_No,...,coworkers_Yes,supervisor_No,supervisor_Yes,mental_health_interview_No,mental_health_interview_Yes,phys_health_interview_No,phys_health_interview_Yes,mental_vs_physical_No,mental_vs_physical_Yes,obs_consequence_Yes
0,39,3,1,0,1,0,1,0,1,0,...,1,0,1,1,0,0,0,0,1,1
1,26,3,0,1,1,1,0,1,0,0,...,0,0,1,1,0,0,0,1,0,1
2,23,3,1,1,1,1,1,0,0,1,...,0,0,0,1,0,0,0,1,0,0
3,35,1,4,1,1,1,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
4,36,0,4,1,0,0,0,0,1,0,...,0,0,0,1,0,1,0,0,0,0

In [221]:
from sklearn.linear_model import LogisticRegression

model_lr = LogisticRegression()

In [222]:
model_lr.fit(X_train,Y_train)

/Users/rishabhraibhandar/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/_logistic.py:765: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression()

In [223]:
model_lr.score(X_test,Y_test)

0.6805111821086262

In [224]:
####

#predict = model_lr.predict(X_test)

In [225]:
from sklearn.metrics import f1_score

In [226]:
#f1_score(Y_test, predict, average=None)


####

In [227]:
from sklearn.tree import DecisionTreeClassifier
model_dt = DecisionTreeClassifier()

In [228]:
model_dt.fit(X_train,Y_train)

DecisionTreeClassifier()

In [229]:
model_dt.score(X_test,Y_test)

0.7348242811501597

In [230]:
from sklearn.ensemble import RandomForestClassifier
model_rf = RandomForestClassifier(n_estimators = 30)

In [231]:
model_rf.fit(X_train,Y_train)

RandomForestClassifier(n_estimators=30)

In [232]:
model_rf.score(X_test,Y_test)

0.7667731629392971

In [233]:
predict = model_rf.predict(X_test)

In [234]:
f1_score(Y_test, predict, average=None)

array([0.76971609, 0.76375405])

In [235]:
model_params = {
    'random_forest': {
        'model': RandomForestClassifier(),
        'params' : {
            'n_estimators': [10,20,25,30,35,40,45,50,55,60,82]
        }
    }     
}

In [236]:
# here we use Randomised searchCV
# so as a see Randomforestclassifier gives best score but we also do some different n_estimators 

from sklearn.model_selection import RandomizedSearchCV
import pandas as pd
scores = []

for model_name, mp in model_params.items():
    clf_randomCV =  RandomizedSearchCV(mp['model'], mp['params'], cv=5, return_train_score=False)
    clf_randomCV.fit(X_train, Y_train)
  
    scores.append({
        'model': model_name,
        'best_score': clf_randomCV.best_score_,
        'best_params': clf_randomCV.best_params_
    })
    
df_randomCV = pd.DataFrame(scores,columns=['model','best_score','best_params'])
df_randomCV

           model  best_score           best_params
0  random_forest    0.807936  {'n_estimators': 82}

In [237]:
from sklearn.svm import SVC
model_svm = SVC(gamma = 'auto')
model_svm.fit(X,Y)

SVC(gamma='auto')

In [238]:
model_svm.score(X_test,Y_test)

0.8466453674121406

In [239]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 208 entries, 0 to 207
Data columns (total 32 columns):
Age                              208 non-null int64
work_interfere                   208 non-null int64
leave                            208 non-null int64
self_emp_No                      208 non-null uint8
family_hist_Yes                  208 non-null uint8
remote_work_No                   208 non-null uint8
benefits_No                      208 non-null uint8
benefits_Yes                     208 non-null uint8
remote_work_Yes                  208 non-null uint8
care_options_No                  208 non-null uint8
care_options_Yes                 208 non-null uint8
wellness_program_No              208 non-null uint8
wellness_program_Yes             208 non-null uint8
seek_help_No                     208 non-null uint8
seek_help_Yes                    208 non-null uint8
anonymity_No                     208 non-null uint8
anonymity_Yes                    208 non-null uint8
mental_health_consequence_No     208 non-null uint8
mental_health_consequence_Yes    208 non-null uint8
phys_health_consequence_No       208 non-null uint8
phys_health_consequence_Yes      208 non-null uint8
coworkers_No                     208 non-null uint8
coworkers_Yes                    208 non-null uint8
supervisor_No                    208 non-null uint8
supervisor_Yes                   208 non-null uint8
mental_health_interview_No       208 non-null uint8
mental_health_interview_Yes      208 non-null uint8
phys_health_interview_No         208 non-null uint8
phys_health_interview_Yes        208 non-null uint8
mental_vs_physical_No            208 non-null uint8
mental_vs_physical_Yes           208 non-null uint8
obs_consequence_Yes              208 non-null uint8
dtypes: int64(3), uint8(29)
memory usage: 10.9 KB

In [240]:
final_df = pd.DataFrame(range(1,209))
final_df

       0
0      1
1      2
2      3
3      4
4      5
..   ...
203  204
204  205
205  206
206  207
207  208

[208 rows x 1 columns]

In [241]:
final_df['treatment'] = clf_randomCV.predict(df_test)

final_df.columns = ["S.No", "treatment"]
#final_df.set_index('S.No', inplace = True)

In [242]:
final_df.replace([1,0],['No','Yes'], inplace = True)
final_df.columns

Index(['S.No', 'treatment'], dtype='object')

In [243]:

#final_df.to_csv('sample.csv')